{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Blog Application{% endblock %}</title>
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('@AppBundle/Resources/public/css/styles.css') }}">
		   <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">

        {% endblock %}
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
	{% block header %}
	<div id="header">
	     <div id="sidebar">
            <ul>
                <ul><a href="/">Home</a></ul>
            </ul>
        </div>
		</div>
	   {% endblock %}
    <div id="body">
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </div>

	{% block footer %}
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} - Blog Application</p>
                        </div>
						<div id="designed-by" class="col-md-6">
						<ul><a href="https://github.com/shannon950/ShannonBlogPosts">Designed by Shannon Middleton</a></ul>
						</div<
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
</html>
